<div class="row mx-3">
    <div class="row mx-4">
        <a href="/printList" class="col-1 btn btn-outline-success shadow-sm fw-bold">طباعة القائمة</a>
        <a href="/printInvoices" class="col-1 btn btn-outline-success shadow-sm fw-bold">طباعة الفواتير</a>
        <a href="#" class="col-7"></a>
        <% if (previousPage !==null) { %>
            <a href="/home/?page=<%= previousPage %>" class="col-1 btn btn-outline-success shadow-sm"> &#8249;السابق
            </a>
            <% }else{ %>
                <a href="#" class="col-1 btn btn-outline-success shadow-sm"> &#8249;السابق </a>
                <% } %>
                    <% if (nextPage !==null) { %>
                        <a href="/home/?page=<%= nextPage %>" class="col-1 btn btn-outline-primary shadow-sm">التالي
                            &#8250; </a>
                        <% }else{ %>
                            <a href="#" class="col-1 btn btn-outline-primary shadow-sm">التالي &#8250; </a>

                            <% } %>


    </div>
    <% consumers.forEach(consumer=> { %>
        <div class="row p-2 ">
            <div class=" px-5 py-2 col-7 h4 border text-secondary shadow-sm grow">
                -رقم <%= consumer.no %>--<span class="fw-bold"> المستهلك: <%= consumer.name %></span> العنوان <%=
                        consumer.address %>
                        رقم العداد:...
            </div>
            <a href="/consumer/<%= consumer._id  %>"
                class="h3 py-2 fw-bold col-3 btn btn-outline-primary rounded border text-danger shadow-sm">تفاصيل</a>
        </div>
        <% }) %>
            
</div>